<nav class="cg-nav">
  <a href="/" class="cg-nav__logo">
    <img src="/assets/images/goblogo.png" alt="Christian Goblin">
    <span>Christian Goblin</span>
  </a>

  <button class="cg-nav__toggle" type="button" aria-label="Toggle menu" onclick="this.nextElementSibling.classList.toggle('open')">&#9776;</button>

  <ul class="cg-nav__links">
    <li><a href="/community/">Community</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/tools/">Tools</a></li>
    <li><a href="/learn/">Learn</a></li>
    <li><a href="/bible/">Bible</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
</nav>
